{% extends 'base.html' %}

{% block content %}	
{{ super() }}

<form action="/login" method="post">

<table border="1" width="600px" height="400px">
<tr><td>Входные данные</td>
	<td>результат</td>
</tr>
<tr>
	<td width="300px">
	<!--{% for s in input_text %}
	{{ s }}<br>
	{% endfor %}-->
	<textarea name="in_text" cols=37  rows=26>
 {{ input_text }}		
	</textarea>
	</td>
	<td>
	<textarea cols="37" rows="26" resize="none" >
 {{ output_text }}
	</textarea>	
	</td>
</tr>
</table>

<p>
<input type="submit" value="из файла" formaction="{{url_for('infile')}}" formmethod="post" />
<input type="submit" value="со страницы" formaction="/inpage" formmethod="post" />
</p>
</form>

{% endblock %}
